.header{
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.img{
    margin-left: 40px;
}
.nav-item{
    margin-right: 40px;
}
.nav-item a{
    margin-left: 25px;
}